<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/undefined/dog-footprint.png" type="image/x-icon">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Fill text generator</title>
</head>

<body>
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

    {include content}

	{block scripts}
        <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    {/block}
</body>
</html>
